# Eclipse files
.project
.buildpath

# VIM swap files
*.swp

# Config files
config.js
config.inc.php

#do not upload beta
beta/*
alpha/*

.settings/*

#ignore potential htaccess
*.htaccess
*.jsdtscope

#any config

config*
