@CHARSET "ISO-8859-1";

body{
	font-family: sans-serif;
	overflow-x: hidden;
	background-color: #F8FCFF;
}

@media all and (max-width:590px){
	body{overflow-x: scroll;}
}

p, ul, { font-size:small;}

h1, h2, h3, h4, h5, h6 {font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;}

h2, h3, h4, h5, h6 {font-weight:normal;}

a{
	color: #0000FF;
	text-decoration: none;	
}

a:hover{
	text-decoration: underline;
}

form{
	white-space:pre-wrap;
}

.overridePre{
	white-space:normal !important;
}

#header{
	background-color: #B3C1D2;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 2.0em;
	font-weight: bold;
	color: #000 !important;
	width: 101%;
	border: none;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: -20px;
	margin-top: -20px;
}

@media all and (min-width:591px){
	#header{
		background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Wikimedia_Community_Logo-Toolserver.svg/70px-Wikimedia_Community_Logo-Toolserver.svg.png');
		background-position: 99% 24px;
		background-repeat: no-repeat;
	}
}

#header a, #subheader a:hover {
	text-decoration:none;
	color:#000;
}

#sitenotice{
	background-color: #CBD9EA;
	color: black;
	border-top:1px solid #ddd;
	text-align: left;
	margin-left: -20px;
	padding-left: 4px;
	width:102%;
	font-size: 0.8em;
}

#sitenotice ul{
	margin: 0px;
	padding-top: 0.8em;
	padding-bottom: 0.8em;	
}

#subheader{
	background-color: #f9f9f9;
	height:auto;
	color: black;
	width: 101%;
	font-size: .95em;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-left: -20px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-variant: small-caps;
	text-transform: lowercase;
	text-align:center;
}

#navigation_menu {
	list-style: none inside;
	margin: 0;
	padding: 0;
	text-align: left;
}

#navigation_menu li {
	display: inline;
}

#navigation_menu li a {
	display: block;
	float: left;
	padding: 0.3em 0.6em;
}

#navigation_menu li a {
	color: black !important;
}

#navigation_menu li a:hover {
	background-color: #e0e0e0 !important;
}

@media all and (max-width:489px){
	#loginLink, #register, #stats, #mgmtTemp, #sitenoticeMgmt {display:none;}
}

#main textarea, #messageInfo{
	width: 50%;	
}

@media all and (max-width:500px){
	#main textarea, #messageInfo{
		width:100% !important;
	}
}

@media all and (min-width:500px) and (max-width:750px){
	#main textarea, #messageInfo{
		width:75% !important;
	}
}

#messageInfo{
	float: left;
	margin-right: auto;	
}

#messageInfo div{
	width:50%;
	margin:	2px 0px;
	text-align: left;
	float:left;
}

#footer{
	background-color: #CFD2BC;
	color: black;
	border-top:1px solid #ddd;
	text-align: center;
	margin-left: -20px;
	margin-bottom: -20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:101%;
}

#footer p{
	font-size:.7em;
}

.required{
	color: red !important;
}

table.error, table.success{
	color: black;
	background-position: 10px center;
	background-size: 50px;
	background-repeat: no-repeat;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 60px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px;
}

table.error td, table.success td{
	border: none;
	vertical-align: middle;
	padding: 5px;
	padding-left: 70px;
}

table.error{
	background-color:#FFD6D1;
	border: 2px solid red;
	background-image: url('https://upload.wikimedia.org/wikipedia/en/1/15/Ambox_warning_pn.svg');
}

table.success{
	background-color:#D6FFD1;
	border: 2px solid green;
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/e/e5/Art%C3%ADculo_bueno.svg');
}

table.appealList{
	border-collapse: collapse;
	border: none;
	font-size: small;
}

table.appealList td{
	padding-right: 3px;
}

tr.odd{
	background: inherit;
}

tr.even{
	background: #EBEBEB !important;
}

/* Appeal page */

#appealContent {
	font-size: small;
	height:100%;
	width:100%;
}

div.info {
	padding: 10px;
	border: 1px solid #ddd;
	width:95%;
	background:#fff;
	height: 105px;
	overflow-y: scroll;
	word-wrap: break-word;
}

table.appeal {
	height:100%;
	width:100%;
}

td.left {
	height:100%;
	width:50%;
}

td.right {
	height:100%;
	width:50%;
	padding-left:10px;
}

div.comments {
	border: 1px solid #ddd;
	background:#fff;
	width:95%;
	height: 400px;
	max-height:400px;
	margin-bottom:-2px;
	overflow-y: scroll;	
}

#contextWindow {
	border: 1px solid #AFB29C;
	width: 700px;
	height: 450px;
    top:20%;
    left:15%;
	background-color: #EBEBEB;
	position: absolute;
	visibility: hidden;
}

#contextHeader {
	width: 700px;
	background-color: #DBDBDB;
	height: 20px;
	text-align: right;	
}

#contextContent {
	padding: 10px;
	height: 410px;
	width: 680px;
	overflow-y: scroll;	
}

/* Appeal.Log Styles */

table.logTable {
	width:100%;
}
th.logUserHeader {
	background-color:#B3C1D2;
	color: #000 !important;
	width:25%;
}

th.logActionHeader {
	background-color:#B3C1D2;
	color: #000 !important;
	width: 75%;
}

td.smallLogUserOne {
	width: 20%;
}

td.smallLogUserTwo {
	width: 20%;
	background: #EBEBEB !important;
}

td.smallLogActionOne {
	width: 80%;
}

td.smallLogActionTwo {
	width: 80%;
	background: #EBEBEB !important;
}

/* Appeal.Log.Large */

table.logLargeTable {
	width:100%;
}
th.logLargeUserHeader {
	background-color:#B3C1D2;
	color: #EFEFEF !important;
	width: 15%;
}

th.logLargeActionHeader {
	background-color:#B3C1D2;
	color: #EFEFEF !important;
	width: 60%;
}

th.logLargeTimeHeader {
	background-color:#B3C1D2;
	color: #EFEFEF !important;
	width: 25%;
}

td.largeLogUserOne {
	width: 15%;
}

td.largeLogUserTwo {
	width: 15%;
	background: #EBEBEB !important;
}

td.largeLogActionOne {
	width: 60%;
}

td.largeLogActionTwo {
	width: 60%;
	background: #EBEBEB !important;
}

td.largeLogTimeOne {
	width: 25%;
}

td.largeLogTimeTwo {
	width: 25%;
	background: #EBEBEB !important;
}

td.highlight{
	background: #FFF2C5 !important;
}

/* SITE NOTICE */

table.sitenoticeTable{
	width:50%;	
}

th.sitenoticeIDHeader{
	width:6%;
	background-color:#B3C1D2;
	color: #EFEFEF !important;
}

th.sitenoticeTextHeader{
	width:74%;
	background-color:#B3C1D2;
	color: #EFEFEF !important;
}

th.sitenoticeLinkHeader{
	width:10%;
	background-color:#B3C1D2;
	color: #EFEFEF !important;
}

tr.sitenoticeEven{
	background-color:#F8FCFF;
}

tr.sitenoticeOdd{
	background-color:#EBEBEB;
}

/* LOGIN PAGE */

#loginBox, #inputBox {

   padding: 10px;


   /* ROUNDED CORNERS */

   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;



   /* BACKGROUND GRADIANT */

   /* SVG fallback(Opera 11.10-, IE9) */
   background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI0OCwyNTIsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTc5LDE5MywyMTAsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

   /* Opera 11.10+ */
   background: -o-linear-gradient(top, rgba(248,252,255,1), rgba(179,193,210,1));

   /* Firefox 3.6+ */
   background: -moz-linear-gradient(top, rgba(248,252,255,1), rgba(179,193,210,1));

   /* Chrome 7+ & Safari 5.03+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(248,252,255,1)), color-stop(1, rgba(179,193,210,1)));

   /* IE5.5 - IE7 */
   filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFF8FCFF,EndColorStr=#FFB3C1D2);

   /* IE8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFF8FCFF,EndColorStr=#FFB3C1D2)"


   /* DROP SHADOW */

   -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 3px 3px 4px #000;
   /* For IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}

#loginBox {
	   width: 400px;
}

#inputBox {
	width: 700px;
	text-align: left;
}

#inputBox textarea {
	width: 100%;
	height: 150px;
}


#loginBox input {

   text-align: center;

   width: 200px;
   -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 3px 3px 4px #000;
   /* For IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}

#login {

   width: 150px;

   -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 3px 3px 4px #000;
   /* For IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

   background-color: #F8FCFF;
   border: 1px #000000 dotted;
   height: 30px;
   font-weight: bold;
}