@CHARSET "ISO-8859-1";

/** Colors I picked are recommended by Kuler (http://kuler.adobe.com) 
	Base color: #4500D6  Mode: Compound
	I'm open to them being changed. */

a{
	color: blue;
	text-decoration: none;	
}

#header{
	background-color: #4500D6;
	background-image: url('https://wiki.toolserver.org/w/images/e/e1/Wikimedia_Community_Logo-Toolserver.png');
	background-position: right top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	font-style: italic;
	font-family: Serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #FFFFFF;
	width: 120%;
	border: none;
	margin-left: -20px;
}

#subheader{
	background-color: #DBC037;
	height: 50px;
	color: black;
	width: 120%;
	border: none;
	border-bottom: 1px solid gray;
	margin-left: -20px;
}

#subheader.a{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#subheader.a:hover{
	background-color: #A37C10;
}

#footer{
	background-color: #8F10A3;
	color: black;
	border: none;
	text-align: center;
}
