{
    "db": {
        "dsn":       "mysql:host=;dbname=;",

        "user":      "",
        "password":  ""
    },

    "site_root": "http://www.example.com/",
    "oauth": {
        "agent": "",
        "consumerKey": "",
        "consumerSecret": ""
    },

    "recaptcha": {
        "publickey":  "",
        "privatekey": ""
    }
}
